@charset "UTF-8";


#heading{
    height: 600px;

    position: relative;
}

#headingimage{
    background-image: url(Image/mainh.png);
    height: 100%;
    width: 100%;
}

.navi{
    position: absolute;
    top: 0px;
    background-color: blue;
}

.navibutton{
    height: 40px;
    width: 100px;
    border-radius:10px;
    border-color: transparent;
    background-color: transparent;
    display: inline-block;
    padding-right: 20px;
}

#headboxarea{
    height: 250px;
    width: 1200px;
    position: absolute;
    bottom: 0px;
    background-color: blue;
}

.headingbox{
    border-radius: 10px;
    height: 250px;
    width: 388.6px;
    display: inline-block;
    background-color: white;
    box-shadow: 5px 10px #888888;
}

#sec01{
    margin-top: 70px;
    width: 100%;
    height: 155px;
    background-color: bisque;
}

#sec02{
    margin-top: 70px;
    width: 100%;
    height: 250px;
    background-color: bisque;
}